@use "../../styles/partials/mixins" as *;

.video__list-main {
  width: 100%;
  align-items: center;
  justify-content: center;

  @include tablet {
    margin-top: 1rem;
  }

  &__wrap {
    width: 100%;
    box-sizing: border-box;

    @include tablet {
      padding-left: 0.5rem;
      border-left: 1px solid $brainflix-mercury;
    }

    &__heading {
      @include mobile-subheader;
      color: $brainflix-silver;
    }
  }
}
