@use "../../styles/partials/mixins" as *;

.list {
  width: 100%;
  align-items: center;
  justify-content: center;

  @include desktop {
    margin-top: 1rem;
    padding-left: 0.5rem;
    border-left: 1px solid $brainflix-mercury;
  }

  &__heading {
    @include mobile-subheader;
    color: $brainflix-silver;
  }

  &__wrap {
    width: 100%;
    padding: 0 0 0 0.5rem;
  }
}
