@use "../../styles/partials/mixins" as *;

.btn {
  height: 40px;
  width: 100%;
  border: none;
  display: flex;
  margin: 1rem 0;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  justify-content: center;
  text-transform: uppercase;
  background-color: $brainflix-blue;
  color: $brainflix-white;

  @include label-buttons();

  @include tablet {
    width: 150px;
    padding: 0 32px;
  }

  &-image {
    position: absolute;
    left: 1rem;
  }
}

.btn:hover {
  background-color: $brainflix-darkblue;
}
