$mobile-breakpoint: 767;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$brainflix-black: #323232;
$brainflix-darkblack: #000000;
$brainflix-blue: #0095ff;
$brainflix-darkblue: #0065ad;
$brainflix-silver: #afafaf;
$brainflix-mercury: #e1e1e1;
$brainflix-white: #ffffff;
$brainflix-alabaster: #fafafa;
