@use "../../styles/partials/mixins" as *;

.hero {
  width: 100%;
  display: block;
}

.hero__wrap {
  width: 100%;
}

.hero__player {
  width: 100vw;
  height: 45vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $brainflix-darkblack;
}
