@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @include desktop {
    display: flex;
    margin: 0 auto;
    max-width: 1080px;
    justify-content: space-between;
  }

  &__comments {
    display: block;
  }

  &__list {
    display: flex;
    margin: 1rem 0.5rem;
    flex-direction: column;

    @include tablet {
      margin-left: 0.25rem;
      justify-content: center;
    }
  }
}
