@use "../../styles/partials/mixins" as *;

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid $brainflix-mercury;

  &__avatar {
    margin: 3rem 0;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
  }


  &__wrap {
    display: block;
    width: 100%;

    @include tablet {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    padding: 2rem 0.5rem;
    flex-direction: column;
    box-sizing: border-box;

    @include tablet {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      padding-bottom: 3rem;
    }
  }

  &__body{
    width: 100%;
    margin-bottom: 0.5rem;
    box-sizing: border-box;

    @include tablet{
      display: flex;
      flex-direction: column;
    }

  }

  &__label {
    border-radius: 4px;
    padding-bottom: 0.5rem;
    color: $brainflix-silver;
    @include mobile-body-copy();
  }

  &__textarea {
    width: 100%;
    resize: none;
    padding: 12px;
    min-width: 240px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid $brainflix-mercury;

    @include tablet {
      max-height: 40px;
    }

    &:active {
      border: 2px solid $brainflix-blue;
    }

    &:error {
      border: 1px solid #d22d2d;
    }
  }

  &__button{
    height: 40px;
    width: 100%;
    border: none;
    display: flex;
    font-size: 12px;
    position: relative;
    border-radius: 4px;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    text-transform: uppercase;
    background-color: $brainflix-blue;
    color: $brainflix-white;

    @include tablet {
      width: 150px;
      padding: 0 2rem;
      margin-top: 1.25rem;
      margin-left: 1rem;
    }
  }

  &__button-image {
    position: absolute;
    left: 5px;
  }

  .button:hover {
    background-color: $brainflix-darkblue;
  }
}
