@use "../../styles/partials/mixins" as *;

.navbar {
  width: 100%;
  box-sizing: border-box;

  &__wrap {
    display: block;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

    @include tablet {
      display: flex;
      justify-content: center;
    }
  }

  @include desktop {
    margin: 0 auto;
    max-width: 1080px;
  }

  &__logo {
    list-style-type: none;
    text-decoration: none;
  }
  &__button {
    list-style-type: none;
    text-decoration: none;
  }
}

.navbar__avatar {
  display: none;

  @include tablet {
    display: flex;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    margin: 0 0.5rem;
    display: flex;

    @include tablet {
      height: 48px;
      width: 48px;
    }
  }
}
