@use "../../styles/partials/mixins" as *;

.navbar {
  display: block;

  &__wrap {
    display: block;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

    @include tablet {
      display: flex;
      justify-content: center;
      justify-content: space-evenly;
    }
  }
}
