@use "../../styles/partials/mixins" as *;

.search {
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  display: inline-flex;
  justify-content: center;

  &__form {
    width: 100%;

    @include tablet {
      display: flex;
      margin: 1.2rem;
      justify-content: flex-end;
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid $brainflix-mercury;

    @include tablet {
      height: 40px;
      padding: 16px;
      width: 240px;
    }
  }
}
