@use "../../styles/partials/mixins" as *;

.comment-section__box {
  display: block;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.comments__container {
  display: flex;
  margin: 1rem 0;
  padding: 1.25rem 0;
  border-bottom: 1px solid $brainflix-mercury;

  &--wrap {
    width: 100%;
    margin-left: 0.75rem;

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &--name {
        display: block;
        width: 100%;
        margin: 0.5rem 0;
      }

      &--date {
        display: block;
        width: 100%;
      }
    }
  }
}
