@use "../../styles/partials/mixins" as *;

.main {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}

.main-wrap {
  display: block;
  width: 100;
}

.page__header {
  @include mobile-page-header();
  @include tablet {
    @include tablet-page-header();
  }
}

.video-hero {
  display: block;
  width: 100%;
  height: 45vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $brainflix-darkblack;
}

.page-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
